/target/
nbactions.xml
nb-configuration.xml
/tests/log.html
/tests/output.xml
/tests/report.html
/nbproject/
/example/hivemindSynchronizerExample/target/
/example/hivemindSynchronizerExample/nbproject/
