/target/
nbactions.xml
nb-configuration.xml
/server/tests/log.html
/server/tests/output.xml
/server/tests/report.html
**/nbproject/
/example/hivemindSynchronizerExample/target/
/example/hivemindSynchronizerExample/nbproject/
/synchronizer/target/
/synchronizer - Copy/target/
/synchronizer-android/target/
/server/target/
/synchronizer/example/hivemind-synchronizer-example/nbproject/
/synchronizer/example/hivemind-synchronizer-example/target/
