/target/
nbactions.xml
nb-configuration.xml
/tests/log.html
/tests/output.xml
/tests/report.html
/nbproject/
/example/hivemindSynchronizerExample/target/
/example/hivemindSynchronizerExample/nbproject/
/synchronizer/target/
/synchronizer - Copy/target/
/synchronizer-android/target/
/server/target/
